<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="../static/css/comments.css">

</head>

<header class="new">Comments</header>

<body>

    <div id="comments">

</div>

<form id="comment-form">
    <input type="text" id="comment-input" placeholder="Leave a comment here..." />
    <input type="number" id="rating" placeholder="Rating (0–5)" oninput="validateRating(this)" />
    <button type="button" id="submit-button" onclick="submitComment()">Send</button>
</form>

</body>

</html>

