<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/eventadd.css">
    <title>Event</title>
</head>

<body>

    <p class="info2">NAME FESTIVAL</p>
    <p class="enter2"></p>
    <p class="info2">TOPIC</p>
    <p class="enter2"></p>
    <p class="info2">PLACE</p>
    <p class="enter2"></p>
    <p class="info2">DATA</p>
    <p class="enter2"></p>
    <p class="info2">WEBPAGE</p>
    <p class="enter2"></p>
    <p class="info2">DESCRIPTION</p>
    <p class="enter2"></p>
    <p class="info2">IMAGE HERE:</p>
    <p class="info2">ADD +</p>

</body>
</html>