<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="styles.css">

</head>

<header>LOG IN</header>

<body>
    <p class="text">DON'T HAVE AN ACCOUNT? <a href="signup.html">SIGN UP</a></p>

    <div>
        <p class="subtitle">Create an Account</p>

        <p class="info">E-MAIL</p>
        <p class="enter">ENTER YOUR E-MAIL</p>
        <p class="info">PASSWORD</p>
        <p class="enter">ENTER YOUR PASSWORD</p>

        <p class="button">LOG IN</p>

        <p>whitespace</p>
    </div>


</body>

</html>

