<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop up</title>
    <link rel="stylesheet" href="styles.css">

</head>

<header class="smaller">Picture here</header>

<body>


<p class="title">Some Music Festival</p>


<p class="popuptext">
    Location: Eindhoven

    <br>
    <br>

    User rating: 5 Stars

    <br>
    <br>

    Web-page: (Hyperlink) 

    <br>
    <br>

    Description: A magical night-time event with glowing lanterns, 
    live shows, and vibrant displays that celebrate light, culture, and community.

    <br>
    <br>

    Price: €
</p>

<div class="flexbuttons">
<p class="tickets">Buy Tickets</p>
<p class="comments">Comments</p>
</div>


</body>

</html>

