* {
    max-width: 480px;
}

/* index and signup page */

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 50px;
}

body {
    background-color: black;
}

div {
    background-color: white;
    border-radius: 10px;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

p.text {
    background-color: black;
    padding: 25px;
}

p.subtitle {
    color: black;
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p.info {
    color: black;
    text-align: left;
}

p.enter {
    color: rgb(152, 152, 152);
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

p.button {
    color: white;
    background-color: #BA8DFF;
    border-radius: 25px;
    padding: 30px;
    margin: 30px;
}

/* popup page */

header.smaller {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}

p.title {
    color: rgb(78, 149, 231);
    font: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p.popuptext {
    font-family: Arial, Helvetica, sans-serif;
    color: #BE58CF;
    text-align: left;
    
}

p.tickets {
    color: #BE58CF;
    background-color: #4CD6FF;
    border-radius: 25px;
    padding: 30px;
    margin: 10px;
    
}

p.comments {
    color: #BE58CF;
    background-color: #4CD6FF;
    border-radius: 25px;
    padding: 30px;
    margin: 10px;
}

div.flexbuttons {
    display: flex;
    flex-direction: row;
    gap: 105px;
    background-color: black;
}

/* comments */

p.enter3 {
    color: black;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

header.new {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: #BE58CF;
    padding: 40px;
    border-radius: 15px;
}

/* guest list page */

header.guest {
    background-color: #BE58CF;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font: bolder;
}

p.attended {
    color: rgb(0, 200, 0);
    text-align: left;
    padding: 1px;
    margin: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p.absent {
    color: red;
    text-align: left;
    padding: 1px;
    margin: 1px;
}

/* event adding page */

p.info2 {
    color: white;
    text-align: left;
}

p.enter2 {
    color: rgb(152, 152, 152);
    background-color: grey;
    border-radius: 30px;
    padding: 25px;
    margin: 2px;
    text-align: left;
}

/* main page */

p.search {
    color: black;
    background-color: #BE58CF;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }

    p.add {
    color: black;
    background-color: #BE58CF;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }

    p.list {
    color: black;
    background-color: #BE58CF;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }

    div.flexbox {
      display: flex;
      flex-direction: row;
      gap: 270px;
    }